body {
    /* background: url(/assets/bg/bg-lightwool.png); */
    background-color: rgb(0, 17, 32);
    color: #ffffff;
    font-family: Mojangles;
    user-select: none;
}

a {
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Mojangles;
}

[type="checkbox"] {
    display: none;
}

@font-face {
    font-family: Mojangles;
    src: url(font/Mojangles.ttf);
}

@font-face {
    font-family: font_pixel;
    src: url(font/font_pixel.tff);
}

@font-face {
    font-family: Fipps-Regular;
    src: url(font/Fipps-Regular.otf);
}

@font-face {
    font-family: minecraft_icons;
    src: url(font/minecraft_icons.ttf);
}

@font-face {
    font-family: BurbankBigCondensed-Black;
    src: url(font/BurbankBigCondensed-Black.otf);
}