@import url('https://fonts.cdnfonts.com/css/minecraft-4');
* {
    background-color: #181921;
    caret-color: rgb(251, 0, 255);
    caption-side: bottom;
}

h1 {
    color: #cfcfcf;
    font-family: 'Minecraft', sans-serif;
}

.TitleM {
    position: absolute;
    top: 10px;
    left: 520px;
    scale: 1.7;
}

input {
    background-color: #000000;
    border-radius: 30px;
    border-color: #ffffff00;
}


/*
   <input type="text" class="v1" id="v1" onkeypress="return valideKey(event);">
    <input type="text" class="v2" id="v2" onkeypress="return valideKey(event);">
    <input type="text" class="v3" id="v3" onkeypress="return valideKey(event);">
.v1 {
    width: 1%;
    height: 3%;
    color: #ffffff;
    position: absolute;
    display: flex;
    margin: 1px;
    padding-left: 0%;
    top: 45px;
    left: 670px;
    background-color: #000000;
    border-radius: 30px;
    border-color: #ffffff00;
}

.v2 {
    width: 1%;
    height: 3%;
    color: #ffffff;
    position: absolute;
    display: flex;
    margin: 1px;
    padding-left: 0%;
    top: 45px;
    left: 700px;
    background-color: #000000;
    border-radius: 30px;
    border-color: #ffffff00;
}

.v3 {
    width: 1%;
    height: 3%;
    color: #ffffff;
    position: absolute;
    display: flex;
    margin: 1px;
    padding-left: 0%;
    top: 45px;
    left: 730px;
    background-color: #000000;
    border-radius: 30px;
    border-color: #ffffff00;
}
/*/


/* meneDtaResouce*/

.lineR {
    position: absolute;
    width: 700px;
    height: 0px;
    left: 0px;
    top: 160px;
    border: 1px solid #ffffff;
    transform: rotate(0.01deg);
}

.typem {
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    display: flex;
    margin: 1px;
    padding-left: 0%;
    top: 180px;
    left: 220px;
    background-color: #000000;
    border-radius: 30px;
    border-color: #ffffff00;
}

.npk {
    position: absolute;
    display: flex;
    margin: 1px;
    padding-left: 0%;
    top: 180px;
    left: 20px;
}

.dc {
    position: absolute;
    display: flex;
    margin: 1px;
    padding-left: 0%;
    top: 220px;
    left: 20px;
}

.minv {
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    display: flex;
    margin: 1px;
    padding-left: 0%;
    top: 280px;
    left: 20px;
    background-color: #000000;
    border-radius: 30px;
    border-color: #ffffff00;
}

.res {
    position: absolute;
    top: 80px;
    left: 80px;
}


/*--------------------------------------------------------------------------------*/

.tx {
    position: absolute;
    top: 170px;
    left: 520px;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.346);
    color: aliceblue;
    border: 2px;
    text-rendering: auto;
    border-radius: 3%;
}

.tx2 {
    position: absolute;
    top: 600px;
    left: 520px;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.346);
    color: aliceblue;
    border: 2px;
    text-rendering: auto;
    border-radius: 3%;
}

.expot {
    top: 410px;
    left: 340px;
    width: 11%;
    height: 10%;
    border-top: #63ff55, 10px;
    background: #24a700;
    border-color: #17cd07;
    border-width: 5px;
    color: #ffffff;
    transition: transform .2s;
    padding: 16px 20px;
    border-radius: -2px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.expot:hover {
    color: rgb(22, 61, 0);
    transform: scale(1.3);
}

.expot::after {
    content: "";
    background: #55ff00;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.expot:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}

.a {
    width: 10%;
    height: 9%;
    top: 410px;
    left: 320px;
    border-top: #63ff55, 10px;
    background: #24a700;
    border-color: #17cd07;
    border-width: 5px;
    color: #ffffff;
    transition: transform .2s;
    padding: 16px 20px;
    border-radius: -2px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
}

.a:hover {
    color: rgb(22, 61, 0);
    transform: scale(1.3);
}

.a::after {
    content: "";
    background: #55ff00;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.a:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
}