button {
  background-color: #000068;
  border: 2px solid #3c28ac;
  border-radius: 4px;
  color: white;
  font-family: MojanglesTen;
  transition: 400ms;
  text-align: center;
  transform: scale(1.5);
}

button:hover {
  background-color: #00008a;
  border: 2px solid #462fc5;
  transform: scale(1.6);
}

button:active {
  background-color: #0000c4;
  border: 2px solid #5539f2;
  transform: scale(1.66);
}

button:disabled {
  background-color: #2c2c57;
  border: 2px solid #1b1349;
}

button > img {
  position: relative;
  width: 22px;
  top: 5px;
}
.copy > img {
  position: relative;
  width: 17px;
  top: 4px;
}
.download-button {
  background-color: #116800;
  border: 2px solid #43ac28;
}

.download-button:hover {
  background-color: #008a02;
  border: 2px solid #41c52f;
}

.download-button:active {
  background-color: #17c400;
  border: 2px solid #39f239;
}
