.content_top {
  position: absolute;
  display: grid;
  top: 10px;
  grid-template-columns: auto;
  gap: 12px;
}

.content_big {
  position: absolute;
  display: grid;
  top: 200px;
  grid-template-columns: auto;
  gap: 22px;
}
.content_big_center {
  position: absolute;
}

.center_top {
  position: absolute;
  left: 0px;
}

.center-x3 {
  position: absolute;
}
.content_result {
  position: relative;
  top: -50px;
}

/* __________________ */

/*  Block content */

/* __________________ */

.block-content {
  position: relative;
  width: 400px;
  height: auto;
  text-align: center;
  padding-bottom: 12px;
  border-radius: 4px;
}

.block-content > h1 > img {
  position: relative;
  width: 32px;
  top: 5px;
}
.sub_content {
  position: relative;
  top: 5px;
}
.microsub_content {
  position: relative;
  top: -48px;
}
/* block-content type */

.type-purple {
  border: 2px solid #562b87;
  background-color: #00004c43;
  /* animacion */
  /* ____________________ */
  animation-name: purple-anim;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* ____________________ */
}

.type-orange {
  background-color: #d55d1743;
  border: 2px solid #d55c17;
  transition: 400ms;
  /* animacion */
  /* ____________________ */
  animation-name: orange-anim;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* ____________________ */
}
/* __________________ */

/* animacion */

/* __________________ */

@keyframes orange-anim {
  20% {
    border: 2px solid #d55c17;
  }
  40% {
    border: 2px solid #ff2600;
  }
  60% {
    border: 2px solid #b76100;
  }
  80% {
    border: 2px solid #ff9100;
  }
  100% {
    border: 2px solid #d55c17;
  }
}

@keyframes purple-anim {
  20% {
    border: 2px solid #562b87;
  }
  40% {
    border: 2px solid #9d48ff;
  }
  60% {
    border: 2px solid #2d134a;
  }
  80% {
    border: 2px solid #49009d;
  }
  100% {
    border: 2px solid #562b87;
  }
}

/* __________________ */

/* resposide */

/* __________________ */

@media (min-width: 368px) {
  .center_top {
    left: 30px;
  }
  .content_big_center {
    left: 30px;
  }
  .center-x3 {
    left: 20px;
  }
}

@media (min-width: 468px) {
  .center_top {
    left: 50px;
  }
  .content_big_center {
    left: 50px;
  }
  .center-x3 {
    left: 35px;
  }
}

@media (min-width: 568px) {
  .center_top {
    left: 90px;
  }
  .content_big_center {
    left: 90px;
  }
  .center-x3 {
    left: 90px;
  }
}

@media (min-width: 668px) {
  .center_top {
    left: 150px;
  }
  .content_big_center {
    left: 150px;
  }
  .center-x3 {
    left: 150px;
  }
}

@media (min-width: 768px) {
  .center_top {
    left: 190px;
  }
  .content_big_center {
    left: 190px;
  }
  .center-x3 {
    left: 195px;
  }
}

@media (min-width: 868px) {
  .center_top {
    left: 230px;
  }
  .content_big_center {
    left: 20px;
  }
  .center-x3 {
    left: 30px;
  }
  .content {
    grid-template-columns: auto auto;
  }
  .content_big {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 968px) {
  .center_top {
    left: 300px;
  }
  .content_big_center {
    left: 90px;
  }
  .center-x3 {
    left: 80px;
  }
  .content {
    grid-template-columns: auto auto;
  }
  .content_big {
    grid-template-columns: auto auto;
  }
}

@media (min-width: 1024px) {
  .content {
    grid-template-columns: auto auto auto;
  }
  .content_big {
    grid-template-columns: auto auto auto;
  }
  .content_big_center {
    left: 280px;
  }
  .center_top {
    left: 502px;
  }
  .center-x3 {
    left: 50px;
  }
}

@keyframes mymove {
  0% {
    transform: translatey(-10000px);
  }
  25% {
    transform: translatey(-10000px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes mymove-medi {
  0% {
    transform: translatey(-100px);
  }
  25% {
    transform: translatey(-100px);
  }
  100% {
    transform: translatey(0px);
  }
}
